<?xml version="1.0" encoding="utf-8"?>

<menu>
  <menuitem label="Patrimonio">
    <icon>fas:barcode fa-fw </icon>
  <menu> 

  <menuitem label="Ler Código de Patrimônio">
  		 <icon>fa:eye fa-fw</icon>	
  		 <action>Visualizar#method=onLerCodigo</action>
	  </menuitem>

  <menuitem label="Cadastrar Patrimônio">
        <icon>fa:plus fa-fw</icon>
        <action>PatrimonioForm#method=onShow</action>
      </menuitem>

		 <menuitem label="Listagem de Patrimônios">
        <icon>fa:book fa-fw </icon>
        <action>PatrimonioList#method=onShow</action>
      </menuitem>
<menuitem label = "----------------------------------------------------------" enabled="false">
      </menuitem>
      <menuitem label="Movimentação Patrimonial">
        <icon>fa:exchange fa-fw</icon>
        <action>EscolhaRegistro#method=onShow</action>
      </menuitem>

    <menuitem label="Listagem de Movimentações">
        <icon>fa:book fa-fw </icon>
        <action>MovimentacaoList#method=onShow</action>
      </menuitem>

   </menu>
</menuitem>

  <menuitem label = "Funções">
  <icon>fa:scroll fa-fw</icon>
  <menu> 

      <menuitem label="Cadastrar Movimentação de Depreciação">
        <icon>fa:receipt fa-fw </icon>
        <action>MovimentacaodepreciacaoForm#method=onShow</action>
      </menuitem>
      <menuitem label="Listagem de Depreciação">
        <icon>fa:book fa-fw </icon>
        <action>MovimentacaodepreciacaoList#method=onShow</action>
      </menuitem>
       <menuitem label = "----------------------------------------------------------">
      </menuitem>
      <menuitem label="Cadastro de Grupos">
        <icon>fa:user-group fa-fw </icon>
        <action>GrupoForm#method=onShow</action>
      </menuitem>
       <menuitem label="Listagem de Grupos">
        <icon>fa:book fa-fw </icon>
        <action>GrupoList#method=onShow</action>
      </menuitem>

      <menuitem label = "----------------------------------------------------------">
      </menuitem>
      <menuitem label="Cadastro Tipos de Baixas">
        <icon>fa:arrow-down-short-wide fa-fw </icon>
        <action>TipoBaixaForm#method=onShow</action>
      </menuitem>
      <menuitem label="Listagem de Tipos de Baixas">
        <icon>fa:book fa-fw </icon>
        <action>Baixas#method=onShow</action>
      </menuitem>
      <menuitem label = "----------------------------------------------------------">
      </menuitem>
      <menuitem label = "Cadastro Centro de Custos">
        <icon>fa:shop fa-fw </icon>
        <action>CentrodecustoForm#method=onShow</action>
      </menuitem>
      <menuitem label="Listagem Centro de Custos">
        <icon>fa:book fa-fw </icon>
        <action>Centro_list#method=onShow</action>
      </menuitem>
      <menuitem label = "----------------------------------------------------------">
      </menuitem>
      <menuitem label = "Cadastro de Local">
        <icon>fa:location-dot fa-fw </icon>
        <action>LocalForm#method=onShow</action>
      </menuitem>
      <menuitem label="Listagem de Locais">
        <icon>fa:book fa-fw </icon>
        <action>Locais#method=onShow</action>
      </menuitem> 

  </menu>
  </menuitem>

<menuitem label = "Relatórios">
  <icon>fa:book-open fa-fw</icon>
  <menu>

      <menuitem label="RelatorioPatrimonio">
        <icon>fa:circle fa-fw </icon>
        <action>PatrimonioReport#method=onShow</action>
      </menuitem>
      <menuitem label="Relatório depreciação ">
        <icon>fa:square fa-fw </icon>
        <action>MovimentacaodepreciacaoReport#method=onShow</action>
      </menuitem>

  </menu>
  </menuitem>


  <menuitem label="_t{Administration}">
    <icon>fas:home fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <icon>fas:tachometer-alt fa-fw</icon>
        <action>SystemAdministrationDashboard</action>
      </menuitem>
      <menuitem label="_t{Programs}">
        <icon>far:file-code fa-fw</icon>
        <action>SystemProgramList</action>
      </menuitem>
      <menuitem label="_t{Groups}">
        <icon>fas:users fa-fw</icon>
        <action>SystemGroupList</action>
      </menuitem>
      <menuitem label="_t{Units}">
        <icon>fas:university fa-fw</icon>
        <action>SystemUnitList</action>
      </menuitem>
      <menuitem label="_t{Users}">
        <icon>fas:user fa-fw</icon>
        <action>SystemUserList</action>
      </menuitem>
      <menuitem label="_t{Database explorer}">
        <icon>fas:database fa-fw</icon>
        <action>SystemDatabaseExplorer</action>
      </menuitem>
      <menuitem label="_t{SQL Panel}">
        <icon>fas:table fa-fw</icon>
        <action>SystemSQLPanel</action>
      </menuitem>
      <menuitem label="_t{Menu editor}">
        <icon>far:edit fa-fw</icon>
        <action>SystemMenuEditor</action>
      </menuitem>
      <menuitem label="_t{Files diff}">
        <icon>fas:file-medical-alt fa-fw</icon>
        <action>SystemFilesDiff</action>
      </menuitem>
      <menuitem label="PHP Info">
        <icon>fas:info-circle fa-fw</icon>
        <action>SystemPHPInfoView</action>
      </menuitem>
      <menuitem label="System Information">
        <icon>fas:desktop fa-fw</icon>
        <action>SystemInformationView</action>
      </menuitem>
      <menuitem label="_t{Preferences}">
        <icon>fas:cog fa-fw</icon>
        <action>SystemPreferenceForm#method=onEdit</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Documents}">
    <icon>far:file-alt fa-fw</icon>
    <menu>
      <menuitem label="_t{Send document}">
        <icon>fas:cloud-upload-alt fa-fw</icon>
        <action>SystemDocumentUploadForm</action>
      </menuitem>
      <menuitem label="_t{My documents}">
        <icon>fas:archive fa-fw</icon>
        <action>SystemDocumentList</action>
      </menuitem>
      <menuitem label="_t{Shared with me}">
        <icon>fas:share-alt fa-fw</icon>
        <action>SystemSharedDocumentList</action>
      </menuitem>
      <menuitem label="_t{Categories}">
        <icon>fas:th fa-fw</icon>
        <action>SystemDocumentCategoryFormList</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logs">
    <icon>fas:desktop fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <icon>fas:tachometer-alt fa-fw</icon>
        <action>SystemLogDashboard</action>
      </menuitem>
      <menuitem label="_t{Access Log}">
        <icon>fas:key fa-fw</icon>
        <action>SystemAccessLogList</action>
      </menuitem>
      <menuitem label="_t{Change Log}">
        <icon>fas:film fa-fw</icon>
        <action>SystemChangeLogView</action>
      </menuitem>
      <menuitem label="_t{SQL Log}">
        <icon>fas:database fa-fw</icon>
        <action>SystemSqlLogList</action>
      </menuitem>
      <menuitem label="_t{Request Log}">
        <icon>fas:globe fa-fw</icon>
        <action>SystemRequestLogList</action>
      </menuitem>
      <menuitem label="_t{PHP Log}">
        <icon>fas:exclamation-triangle fa-fw</icon>
        <action>SystemPHPErrorLogView</action>
      </menuitem>
      <menuitem label="Session dump">
        <icon>fas:code fa-fw</icon>
        <action>SystemSessionDumpView</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logout">
    <icon>fas:sign-out-alt fa-fw</icon>
    <action>LoginForm#method=onLogout#static=1</action>
  </menuitem>
</menu>

